@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6E56CF;
  --primary-light: #9E8CFF;
  --primary-dark: #4B3B93;
  --secondary: #07BFD3;
  --secondary-light: #59E3F5;
  --secondary-dark: #0597A7;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #0D0D18;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151528;
}

::-webkit-scrollbar-thumb {
  background: #363658;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4B3B93;
}

/* Animation classes */
.reveal-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;
}

.revealed {
  opacity: 1;
  transform: translateY(0);
}

/* Utility classes */
.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-light to-secondary-light;
  }
}
